<div class='row'>
  <div class='col-md-6'>
    <div class='container'>
      <div class='row d-flex justify-content-center mt-5'>
        <div class='col-md-6'>
          <div id='myCarousel' class='carousel slide' data-ride='carousel'>
            <div class='carousel-inner'>
              <div class='carousel-item active'><img [src]="imagePath.value" class='rounded' alt=''></div>
              <div class='carousel-item'><img src='https://i.imgur.com/vgMi4nw.jpg' class='rounded' alt=''></div>
              <div class='carousel-item'><img src='https://i.imgur.com/hRlGe10.jpg' class='rounded' alt=''></div>
            </div>
            <ol class='carousel-indicators list-inline'>
              <li class='list-inline-item active'><a id='carousel-selector-0' class='selected' data-slide-to='0'
                                                     data-target='#myCarousel'> <img
                src='https://i.imgur.com/bV1xmG5.jpg' class='img-fluid rounded' alt=''> </a></li>
              <li class='list-inline-item'><a id='carousel-selector-1' data-slide-to='1' data-target='#myCarousel'> <img
                src='https://i.imgur.com/vgMi4nw.jpg' class='img-fluid rounded' alt=''> </a></li>
              <li class='list-inline-item'><a id='carousel-selector-2' data-slide-to='2' data-target='#myCarousel'> <img
                src='https://i.imgur.com/hRlGe10.jpg' class='img-fluid rounded' alt=''> </a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <form [formGroup]='eventForm' (ngSubmit)='onSubmit()'>
      <div class='mb-3'>
        <label for='eventTitle' class='form-label'>Event Title</label>
        <input type='text' class='form-control' id='eventTitle' formControlName='title'>
      </div>
      <div class='mb-3'>
        <label for='imagePath' class='form-label'>Image URL</label>
        <input type='text' class='form-control' id='imagePath' formControlName='images' #imagePath>
      </div>
      <div class='mb-3'>
        <label for='description'>Description</label>
        <textarea type='text' id='description' class='form-control' formControlName='description' rows='6'>
        </textarea>
      </div>
      <div class='mb-3'>
        <input type='datetime-local' class='form-control' id='date' formControlName='date'>
      </div>
      <div class='mb-3 form-check'>
        <input type='checkbox' class='form-check-input' id='exampleCheck1'>
        <label class='form-check-label' for='exampleCheck1'>Check me out</label>
      </div>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  </div>
</div>
