<section class="pb-5 pt-0 pt-lg-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-md-3 g-4"  >
        <div class="col" *ngFor="let event of events; let i = index">
          <div class="card h-100">
            <img src="../../../../assets/images/events/{{i}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{event.title}}</h5>
              <p class="card-text">{{event.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{event.status}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
