<!--  <div class='input-group input-group-lg'>-->
<!--    <span class='input-group-text' id='inputGroup-sizing-lg'>Large</span>-->
<!--    <input type='text' class='form-control' aria-label='Text input with segmented dropdown button'-->
<!--           [formControl]='search'>-->
<!--    <button type='button' class='btn btn-secondary dropdown-toggle dropdown-toggle-split'-->
<!--            data-bs-toggle='dropdown' aria-expanded='false' appDropdown>Category-->
<!--    </button>-->
<!--    <ul class='dropdown-menu dropdown-menu-end'>-->
<!--      <li *ngFor='let result of results | async'><a class='dropdown-item'>{{result.title}}</a></li>-->
<!--      <li>-->
<!--        <hr class='dropdown-divider'>-->
<!--      </li>-->
<!--      <li><a class='dropdown-item' href='#'>Separated link</a></li>-->
<!--    </ul>-->
<!--    <button type='button' class='btn btn-secondary'>Search</button>-->
<!--  </div>-->

<form class='form-group pt-4 pb-3'>
<div class="container mt-5">
      <div class="card">
        <div class="input-box">
          <input type="text" class="form-control" [formControl]='search'>
          <img class="category-icon" src="/assets/icons/general/search.svg" alt='search'>
        </div>
        <div *ngFor='let result of results | async' class="list border-bottom">
          <img class="category-icon" src="/assets/icons/categories/football.svg" alt='{{result.title}}'>
          <div class="d-flex flex-column mx-3">
            <span>{{result.title}}</span>
            <small>{{result.description}}</small>
          </div>
        </div>
      </div>
</div>
</form>
